main .bg-main{
    height: 300px;
    background: url(../images/original.jpg) no-repeat center top;
    overflow: hidden;
}

@keyframes translateIn{
    0%{
        transform: translateX(800px) translateY(-800px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

@-o-keyframes translateIn{
    0%{
        transform: translateX(800px) translateY(-800px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

@-moz-keyframes translateIn{
    0%{
        transform: translateX(800px) translateY(-800px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

@-webkit-keyframes translateIn{
    0%{
        transform: translateX(800px) translateY(-800px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

.bg-main .font-control{
    padding: 35px;
    text-align: right;
    color: #fff;
    transition: 1s;
    transform: translateX(800px) translateY(-800px);
    animation: translateIn 1s ease both;
}



.font-control h2{
    height: 54.4px;
    line-height: 54.4px;
    font-size: 34px;
    margin-bottom: 15px;
}


.bg-main .font-control .label span{
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.6;
    background: rgba(255,255,255,.3);
}

.bg-main .font-control .time{
    padding: 20px 0 16px 0;
    font-size: 18px;
}

.bg-main .btn a{
    display: inline-block;
    width: 242px;
    height: 48px;
    border-radius: 3px;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    background: #fe5341;
}

.hot-test .title{
    padding: 18px 0 16px;
    font-size: 20px;
    font-weight: bold;
}

.focus {
    position: relative;
}

.focus .prev,.focus .next{
    position: absolute;
    top: 120px;
    width: 37px;
    height: 78px;
}

.focus .prev{
    left: -60px;
    background: url(../images/prev.png) no-repeat;
}

.focus .next{
    right: -60px;
    background: url(../images/next.png) no-repeat;
}

.hot-slide{
    position: relative;
    height: 295px;
    overflow: hidden;
}

.hot-slide .slide-box{
    position: relative;
    left: 0;
    width: 3000px;
    height: 295px;
}

.slide-box li{
    /* position: absolute; */
    float: left;
    width: 1000px;
    height: 295px;
}

.slide-box .box1{
    background-color: aqua;
}

.slide-box .on{
    z-index: 20;
}

.slide-box .box2{
    background-color: aquamarine;
}

.slide-box .box3{
    background-color: brown;
}